<div class="field">
    <label class="label">Nome</label>
    <div class="control">
        <input class="input" type="text" placeholder="">
    </div>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input" type="email" placeholder="">
    </div>
</div>

<div class="field">
    <label class="label">Messaggio</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
</div>
<div class="field">
    <div class="control">
        <button class="button is-primary">Invia</button>
    </div>
</div>