<footer class="footer" id="footer">
    <div class="content has-text-centered container px-5">
      <div class="buttons is-centered are-medium">
        {% for social in site.data.socials %}
        <a class="button" href="{{social.link}}" title="WIP Italia su {{social.name}}"><span class="icon"><i class="{{social.icon}}"></i></span></a>
        {% endfor %}
      </div>
      <p>
        W.I.P. SRL<br>
        Sede Legale: Viale Parioli, 12 - 00197 Roma<br>
        Sede Operativa: Via Licio Giorgieri, 99 - 00165 Roma<br> 
        P.I. e C.F. 12118681001 - info@wip-italia.com - Tel 06 90287701<br>
      </p>
    </div>
</footer>